# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
bin/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp
classes/
build/

# system ignore
.DS_Store
Thumbs.db

build/

